[submodule "src/fe_Builder"]
	path = src/fe_Builder
	url = https://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@github.com/Sera-ai/fe_Builder.git
[submodule "src/fe_Sea"]
	path = src/fe_Sea
	url = https://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@github.com/Sera-ai/fe_Sea.git
