.logTable {
    width: 100%;
    font-size: 12px;
    overflow-x: auto; /* Ensures table is scrollable on smaller screens */
}

.logTable table {
    width: 100%;
    border-collapse: collapse;
    table-layout: auto; /* Ensures the table fills the container */
}

.logTable th, td {
    border: 1px solid #ffffff30;
    text-align: left;
    padding-left: 16px;
    padding-right: 16px;
    padding-top:6px;
    padding-bottom: 6px;

}

.logTable th {
    padding: 16px;
    white-space: nowrap;
    font-weight: 100;
    text-transform: uppercase;
    color: #ffffff;
    position: sticky;
    top: 0; /* This makes the header sticky */
    z-index: 1; /* Ensures the header stays above the table content */
    background-color: #191A2190;
    border-width: 1;
    border-color: #555;
}

.logTable tr:nth-child(even) {
    background-color: #ffffff05;
}

.logTable tr:hover {
    background-color: #ffffff00;
}

.logMenu li {
    padding: 3px 6px 3px 6px;
    color: #fff
}

.logMenu li:hover {
    background-color: #ffffff20;
    cursor: pointer;
}