.issuesTable th {
    font-size: 12px;
    text-align: left;
    font-weight: 600;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 40px;
    white-space: nowrap;

}

.issuesTable td {
    font-size: 12px;
    text-align: left;
    font-weight: 200;
    height: 30px;
    padding-right: 40px;
    white-space: nowrap;
}

.issuesTable thead>tr {
    border-bottom-width: 1px;
    border-bottom-color: #2B84EC;
}

.issuesTable tr {
    border-bottom-width: 1px;
    border-bottom-color: #ffffff30;
}

.issuesTable td {
    padding-top: 2px;
    padding-bottom: 2px;
}

.issuesTable input[type*="checkbox"] {
    border-radius: 3px;
    transition: background-color 0.3s;
    border: 1px solid #ffffff50;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color: transparent;
    /* Transparent background */

}

.issuesTable input[type*="checkbox"]:checked {
    background-color: #007bff;
    /* Blue background for checked state */
    border-color: #007bff;
    /* Blue border to match the background */
}

.issuesTable input[type*="checkbox"]:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    /* Optional: add a focus ring */
}

.issuesTable .linkeable {
    color: #4b9eff;
    cursor: pointer;
}

.issuesTable .highlight {
    background-color: #55483e;
    border-radius: 3px;
}